*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inika", serif;
    overflow-x: hidden;
}

nav{
    background-color: #F370FF;
    padding: 10px 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
  font-style: normal;
  background-color: #F370FF;
}

nav a:hover{
    color: white;
    border-radius: 5px;
}

.nav-links{
    display: flex;
     gap: 500px;
     background-color: #F370FF;
}

button{
    background-color: #F310CA;
        color: black;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-family: "inika", sans-serif;
        transition: transform 0.2s ease-in-out;
}

button:hover{
    background-color: #d811b3;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-container{
    position: relative;
    left: 560px;
    top: 100px;
    background: #FFDFDF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5 px;
    cursor: pointer;
}

.h2{
    margin-bottom: 20px;
}